include setup.py
recursive-include rivescript *.py
recursive-include docs *.*
include Changes
include README.md
include LICENSE
recursive-include brain *.rive
recursive-include eg *.py *.rive
include example.py
include example3.py
