include setup.py
recursive-include rivescript *.py
recursive-include docs *.*
include Changes.md
include README.md
include LICENSE
recursive-include eg *.*
recursive-include tests *.py
include example.py
include example3.py
